body {
	font-size: 24px;
}

h1 {
	font-size: 3em;
	margin: 32px 0 16px 0;
}

h2 {
	font-size: 2em;
	margin: 32px 0 16px 0;
}

p {
	margin: 16px 0;
}

.primary p, .secondary p {
	color: #424242;
}

.primary div {
	display: inline-block;
}

header#top nav a:link,
header#top nav a:visited {
	color: #1976D2;

}

header#top nav a:hover {
	color: rgb(33, 150, 243);

}

nav a {
	display: inline-block;
	padding: 8px;
}

main {
	margin: 0 8px;
}

section {
	padding: 32px 0;
}

footer.bottom a {
	color: #1976D2;
}

#top {
	padding: 16px 0 32px 0;
}

.bottom {
	padding: 64px 0 32px 0;
}

.features article {
	float: left;
	width: 30%;
	margin: 0 1.5%;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}