	body {
			padding: 8px;
		}
		header {
			text-align: center;
			background: lightgray;
			padding: 8px 0;
			border-radius: 8px;
			margin: 0 0 16px 0;
		}
		article {
			margin: 0 1%;
			padding: 8px;
			border: 1px solid gray;
			border-radius: 8px;
			float: left;
			width: 28%;
		}
		img {
			float: left;
		}
		article {
			text-align: center;
			box-shadow: 2px 2px 4px grey;
		}
		article p, article h3 p {
			margin: 0 0;
		}
		article aside span {
			margin-right: 4px;
			display: inline;
			background: lightpink;
		}
		article aside p {
			display: inline;
		}
		.discount {
			text-decoration: line-through;
		}
		footer {
			text-align: center;
			background: lightgray;
			padding: 8px 0;
			border-radius: 8px;
		}
		.clearfix:before,
		.clearfix:after {
			content: "";
			display: table;
		}
		.clearfix:after {
			clear: both;
		}
		.clearfix {
			clear: both;
			*zoom: 1;
			margin-bottom: 16px;
		}